table {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    font: normal 3em Arial, Helvetica, sans-serif;
}

td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 20px;
    width: 25vw;
    transition: background 0.2s ease;
}

tr {
    height: 16.02vh;
    background-color: #ffffff;
}

td:hover {
    background-color: #e0e0e0;
}

input {
    width: 100%;
    padding: 20px;
    font-size: 2em;
    border: 0px;
    text-align: right;
    outline: none;
    background-color: #f9f9f9;
    margin-right: 20px;
}

td[colspan="4"],
td[colspan="2"] {
    text-align: center;
}

td:active {
    background-color: #ccc;
}

td.operator {
    background-color: #fff;
    color: #2C786C;
    font-size: 32px;
}

td.equal {
    background-color: #2C786C;
    font-weight: bold;
    font-size: 32px;
}